.background {
  background: rgb(147, 26, 19);
  background: linear-gradient(
    360deg,
    rgba(147, 26, 19, 1) 0%,
    rgba(230, 78, 69, 1) 116.44%
  );
  width: 100%;
  height: 1000px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5rem 10rem;
  border-radius: 5rem;
}

.title__login {
  font-weight: 700;
  font-size: 2rem;
}

.sub__title {
  font-weight: 600;
  font-size: 1.2rem;
}

.content .input__group-pass {
  width: 100%;
}

.content .input__group-pass button {
  background-color: #ec7b73;
  border: none;
}
.content .input__group-pass button:hover {
  background-color: #c4645e;
  border: none;
}

.content .email__input {
  width: 100%;
}

.content .login__button {
  background-color: #ec7b73;
  border: none !important;
  width: 80%;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  border-radius: 10px;
}

.content .login__button:hover {
  background-color: #c4645e;
  border: none !important;
  width: 80%;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  border-radius: 10px;
}

.content p > button > span {
  color: #f00;
}

.content p > button > span:hover {
  color: rgb(180, 8, 8);
}

.content p > button {
  background: none !important;
  border: none;
}

.background .vector2 {
  z-index: 5;
  width: 100%;
  margin-bottom: -304px;
}

.background .ellipse {
  position: absolute !important;
  z-index: 1;
  width: 14%;
  margin-right: -500px;
  margin-top: -450px;
}

.modal {
  margin-top: -100px;
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.modal__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.modal__body-desc {
  font-size: 1.3rem;
  font-weight: 600;
}

.modal__body {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center !important;
}

.modal .email__input-recovery {
  width: 70%;
  font-size: 1.2rem;
  font-weight: 700;
}

.modal .modal_kode {
  border: none;
  background: none !important;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.modal__footer {
  display: flex !important;
  justify-content: center !important;
}

.modal__footer .button__confirm {
  background-color: var(--primary-color);
  border: none !important;
  padding: 10px 50px;
  border-radius: 13px !important;
  font-weight: 600;
  font-size: 1.2rem;
}

.modal__footer .button__confirm:hover {
  background-color: rgb(184, 55, 55) !important;
  border: none !important;
  padding: 10px 50px;
  border-radius: 13px !important;
}
