.text1{
    color: #E02216;
    height: 49px;
    top: 125px;
    left: 317px;
    margin-top: 20px;
    padding: 10px;
}
.Add{
    position: absolute;
    top: 70px; 
    right: 45px; 
    padding: 10px;
    background-color: #E02216;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.thead{
    background-color: #EC7B73;
    color: white;
}