.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination-red .pagination .page-link {
  background-color: #fff;
  border-color: #e02216;
  color: #e02216;
}

.pagination-red .pagination .page-link:hover {
  background-color: #e02216;
  border-color: #e02216;
  color: #fff;
}

.pagination-red .pagination .page-item.active .page-link {
  background-color: #e02216;
  border-color: #e02216;
  color: #fff;
}

.text1 {
  color: #e02216;
  height: 49px;
  top: 125px;
  left: 317px;
  margin-top: 20px;
  padding: 10px;
}
.Add {
  padding: 10px;
  background-color: #e02216;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#btn {
  outline: none;
  border: none;
  background-color: #fff;
}

#status {
  border-radius: 20px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text2 {
  height: 30px;
  width: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0eae00;
}

#btn-tambah {
  margin-top: 100px;
  margin-bottom: 0px;
}

.btn-ok {
  background: #e64e45 !important;
  color: #fff !important;
}

.btn-cancel {
  background: #f3a7a2 !important;
  color: #e02216 !important;
  border: 1px solid #e02216 !important;
}

html,
body {
  overflow-x: hidden !important;
}

#table__berita {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5rem;
}

#table__berita > .tr__table-berita,
.th__table-berita,
.td__table-berita {
  padding: 1.5rem 1rem 1.5rem 1rem;
  vertical-align: middle;
  border-bottom: 2px solid red;
}
