.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Warna normal untuk page link */
.pagination-red .pagination .page-link {
  background-color: #fff;
  border-color: #e02216;
  color: #e02216;
}

/* Warna saat hover pada page link */
.pagination-red .pagination .page-link:hover {
  background-color: #e02216;
  border-color: #e02216;
  color: #fff;
}

/* Warna untuk page aktif */
.pagination-red .pagination .page-item.active .page-link {
  background-color: #e02216;
  border-color: #e02216;
  color: #fff;
}

.text1 {
  color: #e02216;
  height: 49px;
  top: 125px;
  left: 317px;
  margin-top: 20px;
  padding: 10px;
}
.Add {
  padding: 10px;
  background-color: #e02216;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.thead tr th {
  background-color: #ec7b73;
  color: white;
}

#btn {
  outline: none;
  border: none;
  background-color: #fff;
}

#status {
  border-radius: 20px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text2 {
  height: 30px;
  width: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-tambah {
  margin-top: 100px;
  margin-bottom: 0px;
}

#table__berita {
  border: #b9b9b9 solid 1px;
}

.btn-ok {
  background: #e64e45 !important;
  color: #fff !important;
}

.btn-cancel {
  background: #f3a7a2 !important;
  color: #e02216 !important;
  border: 1px solid #e02216 !important;
}

html, body {
  overflow-x: hidden !important;
}