.chat__header {
  color: var(--PRIMARI, #E02216);
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-cs {
  vertical-align: middle;
  border-bottom: 2px solid #E02216;
}
.main__chatcontent {
    width: 1440px;
    height: 1024px;
    background: #FFF;
  }
  
  .content__body {
    flex-shrink: 0;
    overflow: auto;
    scrollbar-color: #E43E33;
    width: 100%; /* Menggunakan lebar 100% agar dapat menyesuaikan dengan parent .col-lg-10 */
    max-width: 1067px; /* Maksimum lebar yang diinginkan */
    height: 680px;
  }

  .chat__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
    animation-name: showIn;
    animation-duration: 0.2s; 
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-timing-function: cubic-bezier(
      0.88,
      0.19,
      0.37,
      1.11
    ); 
    animation-fill-mode: both; 
    animation-delay: 0.2s; 
  }
  @keyframes showIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .chat__item .avatar {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 100px;
    background: lightgray 50%;
  }
  .chat__item__content {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #fff6f6;
  }
  
  .chat__msg {
  user-select: none;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
}
  
  .chat__item.other { /* avatar enduser */
    flex-direction: row-reverse;
    transform-origin: left;
    margin-right: 20px;
    margin-left: 0px;
    gap: 10px;
  }
  .chat__item.me { /* avatar admin */
    margin-right: 20px;
    margin-left: 0px;
    gap: 10px;
  }
  .chat__item.other .chat__item__content {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: #fff6f6;
  }

  .content__footer {
    flex-shrink: 0;
    overflow: auto;
    width: 100%;
    max-width: 1067px;
  }
  
  input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  }